:root {
  --cadet: #4f6d7a;
  --columbiaBlue: #c0d6df;
  --aliceBlue: #dbe9ee;
  --white:#ffffff;
  --blueYonder: #4a6fa5;
  --blueSapphire: #166088;
}

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--blueYonder);
  color: white;
  height: 240px;
  z-index: 10;
 /*  position: sticky;
  top: 0; */
}

.title {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}
.home div {
  padding: 2rem;
}

.searchbtn {
  padding: 15px;
  border: none;
  outline: none;
  background-color: var(--aliceBlue);
  border-radius: 0 50px 50px 0;
}

.searchbtn:hover{
background-color: var(--columbiaBlue);
transition: all .3s ease;
}

input {
  border: none;
  border-radius: 50px 0 0 50px;
  outline: none;
  padding: 15px;
  width: 50%;
}

/* home */
.main {
  padding:0 3rem;
  margin: auto;
  overflow-y: scroll;
}

.main .word {
  text-align: center;
}

.main .audio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main audio {
  width: 100%;
}

.definition,.example,.synonym,.antonym{
  padding: 10px 10px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px #dbe9ee;
}

.synonym__list{
  height: 300px;
  overflow-y: scroll;
}

.synonym__list::-webkit-scrollbar {
  display: none;
}

.synonym__list,.antonym__list{
  border-radius: 10px;
  display: flex;
}


 /*mediaquery */

@media only screen and (max-width:768px){
  input {
    width: 60%;
  }
}

@media only screen and (max-width:600px){
  .main {
    padding:0 0.5rem;
  } 
}

@media only screen and (max-width:360px){

  input {
    width: 50%;
  }
}